apiVersion: v1
kind: Pod
metadata:
  name: demo-app
  labels:
    app: demo-app
  annotations:
    prometheus-siren/enabled: "true"
spec:
  containers:
    - name: my-app
      image: nginx:alpine
      ports:
        - containerPort: 80
